.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 7vh;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.2s;
}

.menu_active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 7vh;
  left: 0;
  transform: translateX(0);
}

.menu__blur {
  width: 100vw;
  height: 100vh;
  left: 30%;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menu__content {
  list-style: none;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  width: 30%;
  height: 100%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #5e5368 74%);

  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: baseline;
  border-radius: 10px;
  transition: all 0.3s;
}

.menu__header {
  padding: 10px 0;
  font-size: 30px;
  color: white;
  border-bottom: solid 1px white;
  width: 100%;
  text-align: center;
}

.menu__link {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: calc(100vw * 0.3 / 3);
}

@media screen and (max-width: 740px) {
  .menu {
    transform: translateX(-150%);
  }
}

@media screen and (max-width: 740px) {
  .menu__content {
    width: 50%;
  }
}

@media screen and (max-width: 740px) {
  .menu__blur {
    left: 50%;
  }
}

@media screen and (max-width: 740px) {
  .menu__header {
    font-size: 25px;
  }
}

@media screen and (max-width: 740px) {
  .menu__link {
    font-size: 20px;
  }
}
