.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  text-align: center;
  justify-content: center;
}

.projects__image {
  border-radius: 20px;
  display: block;
  width: 400px;
  height: 300px;
}

.projects__image:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.projects__link {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 740px) {
  .projects__image {
    width: 340px;
    height: 260px;
  }
}
