.App {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #5e5368 74%);
}

@font-face {
  font-family: 'Inter' ;
  src: url("../../../src/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: 'InterBold' ;
  src: url("../../../src/fonts/Inter-Bold.ttf");
}



