.main {
  margin: 0 auto;
  margin-top: 160px;
  width: 81%;
  align-items: center;
  color: white;
  font-family: "Inter";
  font-size: 17px;
}

.main_flex {
  text-align: center;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.main_container {
  margin: 50px 0 0;
  display: block;
  text-align: start;
  max-width: 1000px;
  align-self: center;
  line-height: 30px;
}

.main__photo_container {
  text-align: right;
  align-self: center;
  
}

.main__photo {
  max-width: 350px;
  max-height: 350px;
  z-index: 1;
  border-radius: 50%;
}

.main__text {
  margin: 160px 0 10px 0;
  text-align: center;
  font-size: 40px;
}

@media screen and (max-width: 1231px) {
  .main {
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (max-width: 972px) {
  .main_flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 740px) {
  .main__photo {
    max-width: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width: 740px) {
  .main {
    margin-top: 70px;
  }
}

@media screen and (max-width: 740px) {
  .main__text {
    margin: 50px 0 10px 0;
    font-size: 25px;
  }
}

@media screen and (max-width: 740px) {
  .main_container  {
    font-size: 15px;
  }
}

